* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}


body {
  padding-top: $navbar-height;
  letter-spacing: -0.15px;
}

p {
  line-height: 1.5;
  letter-spacing: -0.15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
  font-weight: bold;
}

h1 {

}

//links
a {
  color: $primary;
  text-decoration: none;
  transition: .25s ease-in-out;
}




