// Typography
$font-family-sans-serif: "Montserrat", Helvetica, arial, sans-serif;

// Colors
$primary: #e04848;
$secondary: #4fb7a6;

//Bootstrap Colors
$yellow: #ffd10f;
$orange: #f79226;
$red: #ef404d;
$purple: #a14a9c;
$blue: #55a4db;
$green: #7fc347;

$light: #FCFCFE;
$dark: #354052;
$light-gray: #F0F4F7;
$dark-gray: #7D98B6;

$success: $green;
$warning: $yellow;
$danger: $red;

$body-bg: $light;
$body-color: $dark;

//border-radius
$border-radius: 0.75rem;
$border-radius-lg: 1.25rem;
$border-radius-xl: 5rem;

// Navbar
$navbar-height: 3.5rem;

// Shadows
$default-shadow: 0 .8rem 1.7rem -.3rem rgba($dark, .15),
    0 .5rem 1rem -.5rem rgba($dark, .2),
    0 -.4rem 1rem -.4rem rgba($dark, .015);
$raised-shadow: 0 1.25rem 2.1rem -.3rem rgba($dark, .15),
    0 .9rem 1.4rem -.5rem rgba($dark, .2),
    0 -.75rem 1.4rem -.4rem rgba($dark, .015);
$inset-shadow: inset -2rem 0 3.1rem -1rem rgba($dark-gray, .05),
    inset -1.25rem 0 2rem -.5rem rgba($dark-gray, .2),
    inset -.75rem 0 1.5rem -.4rem rgba($dark-gray, .015);
$inset-shadow-xs: inset -2rem 0 1rem -1rem rgba($light, .05),
    inset -1.25rem 0 .75rem -.5rem rgba($light, .2),
    inset -.75rem 0 .25rem -.4rem rgba($light, .015);

@mixin focus-shadow ($color) {
    box-shadow: 0 .8rem 1.7rem -.3rem rgba($color, .15),
        0 .5rem 1rem -.5rem rgba($color, .2),
        0 -.4rem 1rem -.4rem rgba($color, .015),
        0 0 0 .25rem rgba($color, .5) !important;
}

// Boostrap variables and functions
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
